{% extends "base.html" %}
{% block content %}
{% if creating_admin %}
  <h2>Create Admin Account</h2>
  <form action="{{ url_for('admin.add_user_submit') }}" method="post" class="form">
  <input type="hidden" name="csrf_token" value="{{ jwt_csrf }}">
{% else %}
  <h2>Add User</h2>
  <form action="{{ url_for('admin.add_user_submit') }}" method="post" class="form">
  <input type="hidden" name="csrf_token" value="{{ jwt_csrf }}">
{% endif %}

  <label>Email</label>
  <input name="email" type="email" required>

  <label>Password</label>
  <input name="password" type="password" required>

  <button type="submit">{% if creating_admin %}Create Admin{% else %}Create User{% endif %}</button>
</form>
{% endblock %}
