<!doctype html>
<html>

<head>
  <meta charset="utf-8" />
  <title>{{ title or "Docs Portal" }}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<script>
  function toggleDropdown(e) {
    e.stopPropagation();
    const el = document.getElementById("accountDropdown");
    el.classList.toggle("show");
  }

  // close when clicking outside
  document.addEventListener("click", function () {
    const el = document.getElementById("accountDropdown");
    if (el) el.classList.remove("show");
  });
</script>

<body>

  <nav class="nav">
    {% if jwt_csrf %}
    <!-- Logged-in navbar -->
    <div class="nav-left">
      <a class="brand">Authentication_App</a>
    </div>

    <div class="nav-right">
      <div class="dropdown">
        <button class="dropbtn" type="button" onclick="toggleDropdown(event)">
          Account ▾
        </button>

        <div id="accountDropdown" class="dropdown-content">
          <form action="{{ url_for('auth.logout') }}" method="post" style="margin:0;">
            <input type="hidden" name="csrf_token" value="{{ jwt_csrf }}">
            <button class="dropdown-item" type="submit">Sign out</button>
          </form>
        </div>
      </div>

    </div>
    {% else %}
    <!-- Logged-out navbar -->
    <div class="nav-left">
      <a>Home</a>
    </div>
    {% endif %}
  </nav>

  <div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="flash">
      {% for category, msg in messages %}
      <div class="flash-{{ category }}">{{ msg }}</div>
      {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}
  </div>

</body>

</html>