{% extends "base.html" %}
{% block content %}
<h2>Edit Project</h2>

<form action="{{ url_for('user.edit_doc_submit', doc_id=doc.id) }}" method="post" class="form">
  <input type="hidden" name="csrf_token" value="{{ jwt_csrf }}">

  <label>Title</label>
  <input name="title" value="{{ doc.title }}" required>

  <label>Description</label>
  <input name="description" value="{{ doc.description or '' }}">

  <button type="submit">Save</button>
  <a class="btn" href="{{ url_for('user.home') }}">Cancel</a>
</form>
{% endblock %}
